@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather";
    margin: 50px 140px 0 140px;
}


/* Shared styles */

.primary-color {
    color: #FF0000;
}

.secondary-color {
    color: #fff;
}

.title-color {
    color: #070211;
}

.paragraph-font-color {
    color: #070211;
    opacity: 60%;
}

.font-48 {
    font-size: 48px;
}



/* Header design */


.hero-section {
    height: 90vh;
    width: 100%;

    background: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), 
    url("/assets/images/Banner_Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 18px;
    margin-bottom: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.happy-new-year {
    font-size: 32px;
    margin-bottom: 16px;
}

.celebration-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1,4;
}


/* Offer section */

.offer {
    text-align: center;
}

.offer h2 {
    font-family: "Inter";
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}

.offer-content p {
    font-family: "Inter";
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-content h3 {
    font-family: "Inter";
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

.offer-content img {
    margin-bottom: 120px;
}


/* Join party */

.join-party {
    height: 600px;
    background: 
    linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0))
    ,url("/assets/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 120px;
    text-align: left;
    border-radius: 16px;
}

.joining-info h2 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.375;
    width: 642px;
    margin-bottom: 24px;
}

.joining-info p {
    width: 697px;
    font-size: 18px;
    line-height: 1.67;
    opacity: 80%;
    margin-bottom: 48px;
}

.joining-info {
    margin-left: 126px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.joining-info a button {
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 32px;
}